<h1>My favorite Hero is - <i>{{myHero}}</i></h1>
<ul>
    <li *ngFor = 'let hero of newHeroList' [ngSwitch]="hero.id">
        <i *ngSwitchCase = '0'>{{hero.name}}</i>
        <span *ngSwitchDefault>{{hero.name}}</span>
    </li>
</ul>

<input type="text" #box (keyup.enter)="addNewHero(box.value); box.className=box.value">
<button (click) = "addNewHero(box.value); box.value=''">Add New Hero</button>
<p><img *ngIf="heroCounter>0" src="../assets/img/hero.png" width="100px" alt="">{{valueFromInput}} <strong *ngIf="heroCounter>0"> - {{heroCounter}}</strong></p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-open-tabs></app-open-tabs>
        </div>
        <div class="col-md-6">
            <app-hero-form></app-hero-form>
        </div>
    </div>
</div>
